.footer{
	margin-top: 40px;
	padding-top: 40px;
	color: #777;
	border-top: 1px solid #ededed;
}

.footer a{
	color: #555;
	font-weight: bold;
}

.footer > .container {
	border-left: 5px solid #EAEAEA;
}

#infoMessage{
	color: #A22525;
	border-left: 6px solid #A22525;
	font-weight: bold;
	font-size: 13px;
	padding-left: 10px;
}

.nav-tabs{
	margin-bottom: 20px;
}

.navbar-brand>img{
	/*height: 39px;*/
}